<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='customer_assets/css/signup.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>

<body>
  <div class="container">
    <div class="wrapper">
      <div class="title"><span>Sign Up</span></div>
      <form id="signupForm" action="/confirming" method="post">
        <div class="row">
          <i class="fas fa-user"></i>
          <input type="text" id="firstName" name="firstName" placeholder="First Name" required>
        </div>
        <div class="row">
          <i class="fas fa-user"></i>
          <input type="text" id="lastName" name="lastName" placeholder="Last Name" required>
        </div>
        <div class="row">
          <i class="fas fa-envelope"></i>
          <input type="email" id="email" name="email" placeholder="Email" required>
        </div>
        <div class="row">
          <i class="fas fa-phone"></i>
          <input type="tel" id="phone" name="phone" placeholder="Phone" required>
        </div>
        <div class="row">
          <i class="fas fa-venus-mars"></i>
          <select id="gender" name="gender" required>
            <option value="" disabled selected>Select Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div class="row">
          <i class="fas fa-lock"></i>
          <input type="password" id="psw" name="psw" placeholder="Password" required>
        </div>
        <div class="row">
          <i class="fas fa-lock"></i>
          <input type="password" id="confirmPsw" name="confirmPsw" placeholder="Confirm Password" required>
        </div>
        <div class="row button">
          <input type="submit" value="Sign Up" onclick="return validateForm()">
        </div>
        <div class="login-link">Already a member? <a href="{{ url_for('login') }}">Login now</a></div>
      </form>
    </div>
  </div>
  <script src="{{ url_for('static', filename='customer_assets/js/signup.js') }}"></script>
</body>

</html>
