<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='customer_assets/css/login.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link href="{{ url_for('static', filename='customer_assets/css/style.css') }}" type="text/css" rel="stylesheet">
  <!-- <p class="titlelogo">
    <span class="background">TRAVEL</span>
    <span class="titlelogo2">BUDDY</span>
</p> -->
</head>

<body>
  <div class="container">
    <div class="wrapper">
      <div class="title"><span>Login </span></div>
      <form id="loginForm" action="#">
        <div class="row">
          <i class="fas fa-user"></i>
          <input type="text" id="email" placeholder="Email or Phone" required>
        </div>
        <div class="row">
          <i class="fas fa-lock"></i>
          <input type="password" id="psw" placeholder="Password" required>
        </div>
        <div class="pass"><a href="{{ url_for('forgotpass') }}">Forgot password?</a></div>
        <div class="row button">
          <input type="submit" value="Login" onclick="return validateForm()">
        </div>
        <div class="signup-link">Not a member? <a href="{{ url_for('signup') }}">Signup now</a></div>
      </form>
    </div>
  </div>
  <script src="{{ url_for('static', filename='customer_assets/js/login.js') }}"></script>
</body>

</html>